<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>申请认证</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="泊车">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="语文帮学生端">
	<meta name="description" content="语文帮学生端">
	<link rel="stylesheet" href="../style/base.min.css">
	<link rel="stylesheet" href="../style/app.css">
	<link rel="stylesheet" href="../libs/weui/weui.min.css">
	<link rel="stylesheet" href="../libs/weui/jquery-weui.css">
	<script src="../libs/jq.min.js"></script>
	<script src="../libs/v.min.js"></script>
</head>
<body data-app="ChineseBang">
	<!--教师登录-->
	<section class="form-container apply-container" id="app" style="padding-top: 2.5rem;">
		<div class="input-cell app-flex app-vertical-center">
			<label>姓名:</label>
			<div class="input-control app-basis">
				<input type="text" name="uname" placeholder="请输入真实姓名" maxlength="10" v-model="uname">
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>教龄:</label>
			<div class="input-control app-basis">
				<input type="number" name="teach_age" placeholder="请输入您的教龄" maxlength="2" v-model="teach_age">
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>职称:</label>
			<div class="input-control app-basis">
				<select name="teacher" v-model="title">
					<option value="0">请选择教师职称</option>
					<option value="1">初级教师</option>
					<option value="2">中级教师</option>
					<option value="3">高级教师</option>
					<option value="4">特技师</option>
				</select>
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>学校:</label>
			<div class="input-control app-basis">
				<select name="school" v-model="school">
					<option value="0">请选择学校类型</option>
					<option value="1">区、县级普通中学</option>
					<option value="2">区、县级重点中学</option>
					<option value="3">市级重点中学</option>
				</select>
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>擅长:</label>
			<div class="input-control app-basis add-icon" id="goodat">
				<input type="text" name="goodat" placeholder="擅长题型（最多选5项）" v-model="goodat_name">
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>荣誉:</label>
			<div class="input-control app-basis add-icon" id="honor">
				<input type="text" name="goodat" placeholder="所获荣誉（最多3项）" v-model="honor_name">
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>职称照片:</label>
			<div class="upload-photo app-basis">上传照片</div>
			<div class="preview-demo" @click="pop_preview(1);">查看示例</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>工作证件:</label>
			<div class="upload-photo app-basis">上传照片</div>
			<div class="preview-demo" @click="pop_preview(2);">查看示例</div>
		</div>
		<div class="form-btn regsiter-btn">
			<button type="button" @click="apply_as($event);">申请认证</button>
		</div>
		<div v-if="show_layer" class="cover-layer" v-cloak></div>
		<div v-if="show_layer" class="apply-result" v-cloak>
			<span>认证中...<br/>请耐心等待并及时关注相关信息~</span>
		</div>
		<!--示例查看-->
		<div v-if="show_layer2" class="cover-layer" v-cloak></div>
		<div v-if="show_layer2" class="demo-picture-preview" v-cloak>
			<div class="close-btn" @click="show_layer2=false"></div>
			<img :src="preview_src" alt="book">
		</div>
	</section>
</body>
<script src="../libs/fixed.js"></script>
<script src="../script/common.js"></script>
<script src="../libs/weui/jquery-weui.js"></script>
<script>
	$.toast.prototype.defaults.duration = 3000;
	var app = new Vue({
		el:'#app',
		data:{
			uname:'',
			teach_age:'',
			title:'0',
			school:'0',
			goodat_name:'',
			honor_name:'',
			goodat:null,
			honor:null,
			show_layer:false,
			show_layer2:false,
			preview_src:'../assets/book1.jpg',
			upload_title_img:'',
			upload_job_img:''
		},
		mounted:function(){
			var that = this;
			Vue.nextTick(function(){
				//封装擅长数据
				that.goodat = [
				{
					title:'⊙中国文化趣谈',
					value:'001'
				},
				{
					title:'⊙西方文化趣谈',
					value:'002'
				},
				{
					title:'⊙基础知识应试技巧',
					value:'003'
				},
				{
					title:'⊙综合性学习应试技巧',
					value:'004'
				},
				{
					title:'⊙记叙文小说应试技巧',
					value:'005'
				}];

				//封装荣誉数据
				that.honor= [
				{
					title:'⊙参与中考命题',
					value:'001'
				},
				{
					title:'⊙参与中考阅卷',
					value:'002'
				},
				{
					title:'⊙学校教研组长',
					value:'003'
				},
				{
					title:'⊙年级备课组长',
					value:'004'
				},
				{
					title:'⊙全国赛课获奖',
					value:'005'
				},
				{
					title:'⊙全国论文比赛获奖',
					value:'006'
				},
				{
					title:'⊙市级赛课获奖',
					value:'007'
				},
				{
					title:'⊙市级论文 比赛获奖',
					value:'008'
				}];

				//擅长弹框
				$("#goodat").select({
				  title:'选择擅长选项',
				  multi: true,
				  max:5,
				  min:1,
				  items: that.goodat,
				  onChange:function(data){
					 app.goodat_name = data.titles;
				  }
				});

				//荣誉弹框
				$("#honor").select({
				  title:'选择荣誉选项',
				  multi: true,
				  max:3,
				  min:1,
				  items: that.honor,
				  onChange:function(data){
					 app.honor_name = data.titles;
				  }
				})
			});
		},
		methods:{
			pop_preview:function(type){
				this.preview_src = type == 1 ? '../assets/book1.jpg' : '../assets/book2.jpg'
				this.show_layer2 = true;
			},
			apply_as:function(evt){
				if(this.uname == ''){
					$.toptip("输入姓名",1500,'warning');
					return;
				}
				if(this.teach_age == ''){
					$.toptip("输入教龄",1500,'warning');
					return;
				}
				if(this.title == '0'){
					$.toptip("选择教师职称",1500,'warning');
					return;
				}
				if(this.school == '0'){
					$.toptip("选择学校类型",1500,'warning');
					return;
				}
				if(this.goodat_name == ''){
					$.toptip("选择擅长选项",1500,'warning');
					return;
				}
				if(this.honor_name == ''){
					$.toptip("选择荣誉选项",1500,'warning');
					return;
				}

				$.showLoading("提交中...");

				setTimeout(function(){
					//提交信息成功
					$.hideLoading();
					//设置弹窗
					app.show_layer = true;
				},1500);
			}
		}
	});
</script>
</html>
