<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="泊车">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="语文帮教师端">
	<meta name="description" content="语文帮教师端">
	<link rel="stylesheet" href="../style/base.min.css">
	<link rel="stylesheet" href="../style/app.css">
	<link rel="stylesheet" href="../libs/weui/weui.min.css">
	<link rel="stylesheet" href="../libs/weui/jquery-weui.css">
	<script src="../libs/jq.min.js"></script>
	<script src="../libs/v.min.js"></script>
</head>
<body data-app="ChineseBang">
	<!--教师登录-->
	<section class="form-container" id="app" style="padding-top: 2.5rem;">
		<div class="input-cell app-flex app-vertical-center">
			<label>手机号:</label>
			<div class="input-control app-basis">
				<input type="phone" name="phonenum" placeholder="请输入手机号" maxlength="11" v-model="phonenum">
			</div>
		</div>
		<div class="input-cell app-flex app-vertical-center">
			<label>密码:</label>
			<div class="input-control app-basis">
				<input type="password" name="pwd" placeholder="请输入密码" maxlength="20" v-model="pwd">
			</div>
		</div>
		<div class="form-btn regsiter-btn">
			<button type="button" @click="login($event);">登 录</button>
		</div>
		<div class="login-btn">
			<a href="register.html">没有帐号，立即注册</a>
		</div>
	</section>
</body>
<script src="../libs/fixed.js"></script>
<script src="../script/common.js"></script>
<script src="../libs/weui/jquery-weui.js"></script>
<script>
	$.toast.prototype.defaults.duration = 3000;
	var app = new Vue({
		el:'#app',
		data:{
			phonenum:'',
			pwd:'',
		},
		methods:{
			login:function(evt){
				if(this.phonenum == ''){
					$.toptip("输入手机号",1500,'warning');
					return;
				}
				if(!comJs._validateIsPhoneNum(this.phonenum)){
					$.toptip("手机格式有误",1500,'warning');
					return;
				}
				if(this.pwd == ''){
					$.toptip("输入密码",1500,'warning');
					return;
				}

				$.showLoading("登录中...");

				setTimeout(function(){
					//提交信息成功
					$.hideLoading();
					$.toast("登录成功正在进入首页~",'text','3000',function(){
						//回到首页
						location.href = "index.html";
					});
				},1500);
			}
		}
	});
</script>
</html>
