<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<title>资源详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="好问达">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="好问达学生端">
	<meta name="description" content="好问达学生端">
	<link rel="stylesheet" href="__PUBLIC__/style/base.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/app.css">
	<link rel="stylesheet" href="__PUBLIC__/libs/weui/weui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/libs/weui/jquery-weui.css">
	<script src="__PUBLIC__/libs/jq.min.js"></script>
	<script src="__PUBLIC__/libs/v.min.js"></script>
	<script src="__PUBLIC__/libs/swiper.js"></script>
	<style>
		body h1, body h2, body h3, body h4, body h5, body h6{font-size:.8rem;}
		body .reply-content p{font-size:.8rem;padding-bottom:.75rem}
		body .resource-content img{max-width:90%}
		.weui-btn-area{border-top:1px solid #3cc8fe; position:fixed;left:0; right:0;bottom:0;padding:0;margin:0; background:#fff}
		.weui-btn_primary{ background:#3cc8fe;font-size:1rem}
		.teacher-hd-info{ border:none}
		.weui-btn_primary:not(.weui-btn_disabled):active{ background:#3cc8fe}
		.weui-btn:after{ display:none}
		.weui-btn-area>div{ font-size:.9rem; float:left;width:50%;text-align:center;margin-top:0 !important;border-radius:0}
		.weui-btn-area>div.nopay{ font-size:.9rem;width:100%;text-align:center;margin-top:0 !important;border-radius:0;background:#3cc8fe !important;color:#fff !important}
		.weui-btn-area>div:first-child{ background:#fff; color:#3cc8fe}
		.reply-content{ padding:0}
	</style>
</head>
<body data-app="ChineseBang">
	<audio src="" id="aud" controls></audio>
	<section id="app">
		<!--教师头部信息-->
		<if condition="$info['userid'] neq 0">
		<header class="teacher-hd-info" style="padding:0">
			<div class="teacher-top app-flex app-vertical-center" style="padding:.5rem 1rem 0">
				<div class="teacher-image">
					<img src="{$uinfo.headimg}" alt="img">
				</div>
				<div class="info-content app-basis">
					<h4>{$uinfo.truename}</h4>
					<div class="info-btm app-flex">
						<h4 class="dati">{$uinfo.qcount}</h4>
						<h5 class="sc"><i id="collectnum">{$uinfo.colcount}</i></h5>
					</div>
				</div>
				<if condition="$iscollect2 eq 1">
				<div class="favar-btn favared" @click="add_favar_or_cancel($event,'{$uinfo.id}');"></div>
				<else/>
				<div class="favar-btn" @click="add_favar_or_cancel($event,'{$uinfo.id}');"></div>
				</if>
			</div>
			<aside class="teacher-detail-info" style="padding:.5rem 1rem">
				<div class="info-cell app-flex">
					<h4>教<span class="zhanwei">占位</span>龄 :  </h4>
					<h5>{$uinfo.seniority}年</h5>
				</div>
				<div class="info-cell app-flex">
					<h4>职<span class="zhanwei">占位</span>称 :  </h4>
					<h5>{$uinfo.title}</h5>
				</div>
				<div class="info-cell app-flex">
					<h4>所在学校 : </h4>
					<h5 class="app-basis">{$uinfo.schoolname}</h5>
				</div>
				<div class="info-cell app-flex">
					<h4>擅长题型 : </h4>
					<h5 class="app-basis">{$uinfo.questiontype}</h5>
				</div>
				<div class="info-cell app-flex">
					<h4>所获荣誉 : </h4>
					<h5 class="app-basis">{$uinfo.honors}</h5>
				</div>
			</aside>
		</header>
		<else/>
		<!--官方发布显示-->
		<header class="official-release-hd">
			<img src="./data/upload/logo.png" alt="official">
			<p style="color:#3cc8fe;font-size:.8rem">本资源由“问学帮”官方发布</p>
		</header>
		</if>
		<!--内容板块-->
		<section class="content-module" style="padding-bottom: 0;">
			<article class="content-panel">
				<ul class="content-list">
					<li class="content-item" data-type="mrolesson">
						<a href="javascript:void(0);" style="display:block">
							<div class="content-top app-flex app-vertical-center">
								<h4 class="app-basis" style="color:#595959;font-size:.9rem">{$info.title}</h4>
							</div>
							<div class="content-inner-item app-flex">
								<h4>{$info.type}类型 :&nbsp;</h4>
								<h5 class="app-basis">{$info.classtype}</h5>
							</div>
							<div class="content-inner-item app-flex">
								<h4>{$info.type}简介 :&nbsp;</h4>
								<h5 class="app-basis">{$info.brief}</h5>
							</div>
							<div class="content-info-num2 app-flex app-vertical-center">
								<h4>{$info.clicknum}<if condition="$info['clicknum'] gt '999'">+</if></h4>
								<h5>{$info.colcount}<if condition="$info['colcount'] gt '999'">+</if></h5>
							</div>
						</a>
					</li>
				</ul>
				<if condition="$ismall eq 1 || $info['price'] eq '0'">
					<if condition="$info['userid'] eq '0'">
					<section class="lesson-detail-main">
					<section class="reply-content">						
							<p>{$info.content|htmlspecialchars_decode}</p>
						</section>
					</section>
					<else/>
					<section class="lesson-detail-main">
						<!--语音板块-->
						<volist name="imgaudio" id="va">
						<if condition="$va['type'] eq 'audio'">
						<section class="audio-wrap">
							<div class="audio app-flex app-vertical-center app-hrizontal-center" data-resource-src="{$va.text}">
								<span class="audio-item" data-audio-src="{$va.text}">点击收听</span>
								<i>{$va.atime}"</i>
							</div>						
						</section>
						</if>
						<!--问题解答-->
						<if condition="$va['type'] eq 'text'">
						<section class="reply-content">						
							<p>{$va.text}</p>
						</section>
						</if>					
						<if condition="$va['type'] eq 'img'">
						<section class="reply-content resource-content" style="padding-bottom: 0;">						
							<div class="img-wrap">
								<img src="{$va.text}" alt="img" style="margin-bottom: 0.75rem;">
							</div>	
						</section>
						</if>
						</volist>
					</section>
					</if>
				</if>
			</article>
		</section>
		<!--平台公告-->
		
		<section class="notice-content" style="padding-bottom:2.5rem">
			<if condition="count($relatelist) neq 0">
			<div class="title-panel app-flex app-vertical-center app-content-justify">
				<h4 style="font-weight:normal; font-size:1rem">相关推荐</h4>
			</div>
			<ul class="content-list">
				<volist name="relatelist" id="va">
				<li class="content-item" data-type="mrolesson">
					<a href="{:U('Home/Resource/lesson_info',array('id'=>$va['id']))}" style="display:block">
						<div class="content-top app-flex app-vertical-center">
							<h4 class="app-basis" style="color:#595959; font-size:.9rem">{$va.title}</h4>
						</div>
						<div class="content-inner-item app-flex">
							<h4>{$va.type}类型 :&nbsp;</h4>
							<h5 class="app-basis">{$va.classtype}</h5>
						</div>
						<div class="content-inner-item app-flex">
							<h4>{$va.type}简介 :&nbsp;</h4>
							<h5 class="app-basis">{$va.brief}</h5>
						</div>
						<div class="content-info-num2 app-flex app-vertical-center">
							<h4>{$va.clicknum}<if condition="$va['clicknum'] gt '999'">+</if></h4>
							<h5>{$va.colcount}<if condition="$va['colcount'] gt '999'">+</if></h5>
						</div>
					</a>
				</li>
				</volist>
			</ul>
			<div class="more">
				<a href="{:U('Home/Resource/index',array('type'=>$studenttype))}">查看更多</a>
			</div>
			</if>
			<if condition="$showpay eq 0">
			<div class="tip-me">				
				<a href="{:U('Home/Problem/tipoff',array('id'=>$info['id'],'atype'=>2))}">举报此内容</a>
			</div>
			</if>
		</section>
		
		<!--价格不为0，且未购买-->
		<div class="weui-btn-area">
			<if condition="$showpay eq 1">	
			<div class="weui-btn weui-btn_primary nopay" @click="pay($event);" <if condition="$ismall eq 1">style="display:none;"</if>>查看资源需支付{$info.price}元，立即支付</div>
			<else/>	
				
				<if condition="$isscoreed eq 1">
				<div class="weui-btn weui-btn_primary nopay" @click="add_favar_or_cancel2($event,'{$info.id}');">	
				<else/>
				<div class="weui-btn weui-btn_primary" @click="add_favar_or_cancel2($event,'{$info.id}');">	
				</if>								
					<div id="iscollection"><if condition="$iscollect eq 1">取消收藏<else/>收藏资源</if></div>
				</div>	
				<if condition="$isscoreed eq 0">				
				<div class="weui-btn weui-btn_primary">							
				<a href="{:U('Home/Resource/give_score',array('id'=>$info['id']))}">	
					<div id="iscollection"  style="height: 2.5rem;color:#fff;font-size:.9rem">
						立即打分
					</div>
				</a>
				</div>
				</if>
			</if>		
		</div>
	</section>
</body>
<script src="__PUBLIC__/libs/fixed.js"></script>
<script src="__PUBLIC__/libs/weui/jquery-weui.js"></script>
<script>
	$.toast.prototype.defaults.duration = 3000;
	var audio = document.querySelector("#aud");

	//监听语音控件是否处于暂停状态
	audio.addEventListener("pause",function(){
		console.log(111);
		$("#app").find(".playing").removeClass("playing").text("点击收听");
	})
	var app = new Vue({
		el:'#app',
		data:{
			cur_index:1,
			data_text:'没有更多了~~',
			show_layer:false

		},
		methods:{
			pay:function(evt){
				//这里调用微信支付接口 支付成功后跳转至相应的详情展示页
				$.showLoading("跳转支付...");
				location.href="{$payurl}";
			},
			add_favar_or_cancel:function(evt,userid){
				
				if($(evt.target).hasClass('favared')){
					//数据操作
					$.ajax({
						url:"{:U('Home/Problem/collect')}",
						data:{taskid:userid,type:2},
						type:'POST',
                        success: function (data) {
                        	if(data.status == 1)
                        	{
                        		$(evt.target).removeClass("favared");
								$("#collectnum").html(data.collectnum);
								$.toast("你已取消对TA的收藏",3000);
                        	}
                        }
					})					
				}else{
					//数据操作					
					$.ajax({
						url:"{:U('Home/Problem/collect')}",
						data:{taskid:userid,type:1},
						type:'POST',
                        success: function (data) {
                        	if(data.status == 1)
                        	{
                        		$(evt.target).addClass("favared");
								$("#collectnum").html(data.collectnum);
								$.toast("你已成功收藏TA~",3000);
                        	}
                        }
					})
				}
			},
			add_favar_or_cancel2:function(evt,taskid){
				console.log(evt);				
				if($("#iscollection").html()=='取消收藏'){					
					//数据操作
					$.ajax({
						url:"{:U('Home/Resource/collect')}",
						data:{taskid:taskid,type:2},
						type:'POST',
                        success: function (data) {
                        	if(data.status == 1)
                        	{
                        		$("#iscollection").html('收藏资源');
								$.toast("你已取消对TA的收藏",3000);
                        	}
                        }
					})					
				}else{
					//数据操作					
					$.ajax({
						url:"{:U('Home/Resource/collect')}",
						data:{taskid:taskid,type:1},
						type:'POST',
                        success: function (data) {
                        	if(data.status == 1)
                        	{
                        		$("#iscollection").html('取消收藏');
								$.toast("你已成功收藏TA~",3000);
                        	}
                        }
					})
				}
			}
		},
		preview_photo:function(evt,src){
			//图片预览
			evt.preventDefault();
			var preview = $.photoBrowser({
			  items: [
				src
			  ]
			});

			preview.open();
		}
	});
	//播放语音控件
	$("#app").on('click','.audio-item',function(evt){
		console.log(audio.duration);
		console.log(audio.readyState);
		evt.preventDefault();
		var that = $(this);
		var src = that.data("audio-src");
		that.parent().siblings().find(".audio-item").removeClass("playing").text("点击收听");
		$(this).parents('.audio-wrap').siblings().find(".audio-item").removeClass("playing");
		$(this).parents('.audio-wrap').siblings().find(".audio-item").text("点击收听");
		audio.src= src;
		//判断语音是否可以正常播放
		audio.addEventListener("error",function(){
			$.toast("语音错误",'cancel');
			that.removeClass("playing");
			that.text("点击收听");
			audio.pause();
		});

		if($(this).hasClass('playing')){
			$(this).removeClass("playing");
			$(this).text("点击收听");
			audio.pause();
		}else{
			$(this).addClass("playing");
			$(this).text("暂停");
			audio.play();
		}
		audio.addEventListener("ended",function(){
			that.removeClass("playing");
			that.text("点击收听");
		});
		console.log(audio);
	});
	
	//图片预览
	$("#app").on('click','.img-wrap img',function(evt){
		//alert($(this).attr("src"));
		var preview = $.photoBrowser({
		  items: [
			$(this).attr("src")
		  ]
		});

		preview.open();
	})
</script>
</html>