<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
	<title>资源列表</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="泊车">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="语文帮学生端">
	<meta name="description" content="语文帮学生端">
	<link rel="stylesheet" href="../style/base.min.css">
	<link rel="stylesheet" href="../style/app.css">
	<link rel="stylesheet" href="../libs/weui/weui.min.css">
	<link rel="stylesheet" href="../libs/weui/jquery-weui.css">
	<script src="../libs/jq.min.js"></script>
	<script src="../libs/v.min.js"></script>
</head>
<body data-app="ChineseBang">
	<section id="app">
		<!--头部筛选-->
		<header class="fixed-top lesson-top app-flex app-vertical-center app-content-justify">
			<div class="filter-item app-flex app-vertical-center del-line">
				<span class="" @click="switch_tab($event,'1');" v-text="title"></span><i></i>
				<ul v-if="cur_index == 1" class="filter-list" v-cloak>
					<li @click="change_lesson($event);" data-item="资源类型">资源类型</li>
					<li @click="change_lesson($event);" data-item="名校真题">名校真题</li>
					<li @click="change_lesson($event);" data-item="题型专练">题型专练</li>
					<li @click="change_lesson($event);" data-item="重庆题库">重庆题库</li>
				</ul>
			</div>
			<div class="search-item app-basis">
				<input type="text" placeholder="请输入资源名称" v-model="keywords" />
				<div v-if="keywords !=''" class="clear" @click="keywords=''" v-cloak></div>
			</div>
			<div class="search-btn" @click="search($event);">立即搜索</div>
		</header>
		<!--资源列表-->
		<div class="lesson-null app-flex app-flex-y app-vertical-center app-hrizontal-center">
			<h4>暂无该资源~</h4>
			<p>你可向在线老师发起提问</p>
		</div>
		<section class="online-teacher">
			<div class="title-panel app-flex app-vertical-center app-content-justify">
				<h4>直接向在线老师提问</h4>
			</div>
			<ul class="teacher-list" style="padding-top: 0;">
				<li class="list-item app-flex app-vertical-center">
					<a href="resource_info.html?rid=100" class="app-basis app-flex app-vertical-center">
						<div class="teacher-avatar">
							<img src="../assets/touxiang@2x.png" alt="img">
						</div>
						<div class="teacher-info app-basis">
							<h4>卡卡西</h4>
							<p>全国公开课备课一等奖</p>
							<p>综合评分: 4.8</p>
							<div class="teacher-attention-num app-flex">
								<h4>299次答题</h4>
								<h5>299人收藏</h5>
							</div>
						</div>
					</a>
					<div class="question-now">
						<a href="pub_question.html">立即提问</a>
					</div>
				</li>
				<li class="list-item app-flex app-vertical-center">
					<a href="#" class="app-basis app-flex app-vertical-center">
						<div class="teacher-avatar">
							<img src="../assets/touxiang@2x.png" alt="img">
						</div>
						<div class="teacher-info app-basis">
							<h4>卡卡西</h4>
							<p>全国公开课备课一等奖</p>
							<p>综合评分: 4.8</p>
							<div class="teacher-attention-num app-flex">
								<h4>299次答题</h4>
								<h5>299人收藏</h5>
							</div>
						</div>
					</a>
					<div class="question-now">
						<a href="pub_question.html">立即提问</a>
					</div>
				</li>
				<li class="list-item app-flex app-vertical-center">
					<a href="#" class="app-basis app-flex app-vertical-center">
						<div class="teacher-avatar">
							<img src="../assets/touxiang@2x.png" alt="img">
						</div>
						<div class="teacher-info app-basis">
							<h4>卡卡西</h4>
							<p>全国公开课备课一等奖</p>
							<p>综合评分: 4.8</p>
							<div class="teacher-attention-num app-flex">
								<h4>299次答题</h4>
								<h5>299人收藏</h5>
							</div>
						</div>
					</a>
					<div class="question-now">
						<a href="pub_question.html">立即提问</a>
					</div>
				</li>
			</ul>
		</section>
		<ul class="content-list ptop" style="display: none;">
			<li class="content-item" data-type="mrolesson">
				<a href="#">
					<div class="content-top app-flex app-vertical-center">
						<h4 class="app-basis">《文言文常见通假字释义》</h4>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源类型:  </h4>
						<h5 class="app-basis">名校真题</h5>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源简介:  </h4>
						<h5 class="app-basis">主要讲解文言文中常见的通假字读音、拼写、解释含义，常见的考题形式</h5>
					</div>
					<div class="content-info-num app-flex app-vertical-center">
						<h4>查看次数: <span>999+</span></h4>
						<h5>收藏次数: <span>299</span></h5>
					</div>
				</a>
			</li>
			<li class="content-item" data-type="mrolesson">
				<a href="#">
					<div class="content-top app-flex app-vertical-center">
						<h4 class="app-basis">《文言文常见通假字释义》</h4>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源类型:  </h4>
						<h5 class="app-basis">名校真题</h5>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源简介:  </h4>
						<h5 class="app-basis">主要讲解文言文中常见的通假字读音、拼写、解释含义，常见的考题形式</h5>
					</div>
					<div class="content-info-num app-flex app-vertical-center">
						<h4>查看次数: <span>999+</span></h4>
						<h5>收藏次数: <span>299</span></h5>
					</div>
				</a>
			</li>
			<li class="content-item" data-type="mrolesson">
				<a href="#">
					<div class="content-top app-flex app-vertical-center">
						<h4 class="app-basis">《文言文常见通假字释义》</h4>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源类型:  </h4>
						<h5 class="app-basis">名校真题</h5>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源简介:  </h4>
						<h5 class="app-basis">主要讲解文言文中常见的通假字读音、拼写、解释含义，常见的考题形式</h5>
					</div>
					<div class="content-info-num app-flex app-vertical-center">
						<h4>查看次数: <span>999+</span></h4>
						<h5>收藏次数: <span>299</span></h5>
					</div>
				</a>
			</li>
			<li class="content-item" data-type="mrolesson">
				<a href="#">
					<div class="content-top app-flex app-vertical-center">
						<h4 class="app-basis">《文言文常见通假字释义》</h4>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源类型:  </h4>
						<h5 class="app-basis">名校真题</h5>
					</div>
					<div class="content-inner-item app-flex">
						<h4>资源简介:  </h4>
						<h5 class="app-basis">主要讲解文言文中常见的通假字读音、拼写、解释含义，常见的考题形式</h5>
					</div>
					<div class="content-info-num app-flex app-vertical-center">
						<h4>查看次数: <span>999+</span></h4>
						<h5>收藏次数: <span>299</span></h5>
					</div>
				</a>
			</li>
		</ul>
		<div class="data-text" v-text="data_text"></div>
		<div v-if="show_layer" class="cover-layer transparent" @click="show_layer=false;cur_index = '0'"></div>
	</section>
</body>
<script src="../libs/fixed.js"></script>
<script src="../libs/weui/jquery-weui.js"></script>
<script>
	$.toast.prototype.defaults.duration = 3000;
	var app = new Vue({
		el:'#app',
		data:{
			cur_index:0,
			title:'资源类型',
			show_layer:false,
			keywords:'',
			data_text:'没有更多了~'

		},
		methods:{
			switch_tab:function(evt,index){
				if(this.cur_index == index){
					this.cur_index = 0;
					this.show_layer = false;
				}else{
					this.cur_index = index;
					this.show_layer = true;
				}
				
			},
			change_lesson:function(evt){
				evt.stopPropagation();
				var val = evt.currentTarget.dataset['item'];
				this.title = val;
				this.cur_index = 0;
				this.show_layer = false;
			},
			search:function(evt){
				$.showLoading("正在搜索...");

				//调用数据
				setTimeout(function(){
					$.hideLoading();
				},750);
			}
		}
	});
</script>
</html>