<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>学生端-全部文章</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="好问达">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="好问达教师端">
	<meta name="description" content="好问达教师端">
	<link rel="stylesheet" href="__PUBLIC__/style/base.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/app.css">
	<link rel="stylesheet" href="__PUBLIC__/libs/swiper/css/swiper.min.css">
	<script src="__PUBLIC__/libs/jq.min.js"></script>
	<script src="__PUBLIC__/libs/swiper/js/swiper.min.js"></script>
	<script src="__PUBLIC__/libs/v.min.js"></script>
</head>
<body data-app="ChineseBang">
<section class="notice-content">
		<ul class="notice-list">
			<volist name="article" id="va">
			<li class="notice-item">
				<a href="{$va.link_url}" title="{$va.post_title}" class="app-flex">
					<div class="notice-img">
						<img src="{$va.post_img}" >
					</div>
					<div class="app-basis" style="width:1%">
						<h4>{$va.post_title}</h4>
						<p class="Line2">{$va.post_excerpt}</p>
					</div>
				</a>
			</li>
			</li>
			<!--<li class="notice-item">
				<a href="{$va.link_url}" title="{$va.post_title}">
					<div class="nt-top app-flex app-vertical-center">
						<h4 class="app-basis">{$va.post_title}</h4>
						<h5>{$va.addtime}</h5>
					</div>
					<p>{$va.post_excerpt}</p>
				</a>
			</li>-->
			</volist>
		</ul>
	</section>	
</body>
<script src="__PUBLIC__/libs/fixed.js"></script>
<script>
	//轮播图展示
	var swiper_config = {
			speed:700,
			autoplay:3500,
			pagination:'.swiper-pagination',
			loop:true,
			autoplayDisableOnInteraction : false,

		}
		try{
			var mySwiper = new Swiper('.swiper-container',swiper_config);
		}catch(e){
			console.warn(e);
		}
</script>
</html>