<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>语文帮</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="语文帮">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="renderer" content="webkit">
	<meta name="HandheldFriendly" content="true">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="keywords" content="语文帮学生端">
	<meta name="description" content="语文帮学生端">
	<link rel="stylesheet" href="__PUBLIC__/libs/weui/weui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/libs/weui/jquery-weui.css">
	<link rel="stylesheet" href="__PUBLIC__/style/base.min.css">
	<link rel="stylesheet" href="__PUBLIC__/style/app.css">
	<link rel="stylesheet" href="__PUBLIC__/libs/swiper/css/swiper.min.css">
	<script src="__PUBLIC__/libs/jq.min.js"></script>
	<script src="__PUBLIC__/libs/swiper/js/swiper.min.js"></script>
	<script src="__PUBLIC__/libs/v.min.js"></script>
</head>
<style>
	.index-nav{ overflow:hidden}
	.index-nav>a{ float:left; width:25%;}
</style>
<body data-app="ChineseBang" style="padding-bottom:3rem">
	<!--学生端首页-->
	<!--学生端头部-->
	<header class="index-top">
		<section class="swiper-container">
			<div class="swiper-wrapper">
				<volist name="imgs" id="vo">
				<a class="swiper-slide" href="{$vo.link_url}">
					<img src="{$vo.post_img}" alt="picture">
				</a>
				</volist>
			</div>
			<div class="swiper-pagination"></div>
		</section>
	</header>
	<!--首页导航板块-->
	<nav class="index-nav">
		<a href="{:U('Home/Teacher/index')}">
			<img src="__PUBLIC__/assets/jiaoshiliebiao.png" alt="nav_icon">
			<p>教师列表</p>
		</a>
		<a href="{:U('Home/Task/index')}">
			<img src="__PUBLIC__/assets/weikeliebiao.png" alt="nav_icon">
			<p>微课列表</p>
		</a>
		<a href="{:U('Home/Index/hotrecommend')}">
			<img src="__PUBLIC__/assets/ziyuanliebiao.png" alt="nav_icon">
			<p>资源列表</p>
		</a>
		<a href="{:U('Home/Resource/index')}">
			<img src="__PUBLIC__/assets/zhuantiliebiao.png" alt="nav_icon">
			<p>专题列表</p>
		</a>
		<a href="javascript:;">
			<img src="__PUBLIC__/assets/remenliebiao.png" alt="nav_icon">
			<p>热门列表</p>
		</a>
		<a href="javascript:;">
			<img src="__PUBLIC__/assets/remenliebiao-1.png" alt="nav_icon">
			<p>敬请期待</p>
		</a>
	</nav>
	<!--主内容-->
	<!--平台精选-->
	<section class="plat-content">
		<div class="title-panel app-flex app-vertical-center app-content-justify">
			<h4 style="font-weight:normal;color:#3cc8fe">平台精选</h4>
			<h5>
				<a href="{:U('Home/Index/tasklist')}">查看全部</a>
			</h5>
		</div>
		<article class="content-panel">
			<ul class="content-list">
				<volist name="indexlist" id="va">
				
					<if condition="$va['type'] eq '微课'">
					<li class="content-item" data-type="mrolesson">
					<a href="{:U('Home/Task/lesson_info',array('id'=>$va['id']))}" class="app-flex">
					</if>
					
					<if condition="$va['type'] eq '资源'">
					<li class="content-item" data-type="mrolesson">
					<a href="{:U('Home/Resource/lesson_info',array('id'=>$va['id']))}" class="app-flex">
					</if>
					<if condition="$va['type'] eq '问答'">
					<li class="content-item" data-type="requestion">
					<a href="{:U('Home/Problem/detail',array('id'=>$va['id']))}" class="app-flex">
					</if>
					<if condition="$va['type'] neq '问答'">
						<div class="headImg">
							<img src="__PUBLIC__/assets/banner@2x.png">
						</div>
						<div class="app-basis" style="width:1%">
							<div style="font-size:.9rem">黄老师</div>
							<!--<div class="content-top app-flex app-vertical-center">-->
								<h4 class="ellipsis" style="font-size:.8rem;color:#999">{$va.title}</h4>
							<div class="ellipsis" style="font-size:.8rem">文言文常见通假字释义</div>
								<!--<h5>{$va.type}</h5>
							</div>
							<div class="content-inner-item app-flex">
								<h4>{$va.type}类型:  </h4>-->
								<h5 style="font-size:.8rem;color:#999;margin:5px 0">{$va.classtype}&nbsp;&nbsp;&nbsp;{$va.type}</h5>
							<!--</div>
							<div class="content-inner-item app-flex">
								<h4>{$va.type}简介:  </h4>-->
								<h5 class="Line2" style="color:#999;font-size:.8rem;">{$va.brief}</h5>
							<!--</div>-->
							<div class="content-info-num3 app-flex app-vertical-center" style="margin-top:.5rem">
								<h4>{$va.clicknum}<if condition="$va['clicknum'] gt '999'">+</if></h4>
								<h5>{$va.colcount}<if condition="$va['colcount'] gt '999'">+</if></h5>
							</div>
						</div>
					<else/>
					
						<div class="headImg">
							<img src="__PUBLIC__/assets/weikeliebiao@2x.png">
						</div>
						<div class="app-basis" style="width:1%">
							<div class="content-top1 app-flex app-vertical-center">
								<h4 class="app-basis">{$va.title}</h4>
								<h5>问答</h5>
							</div>
							<div class="content-inner-item app-flex">
								<h4>回答满意度:  <span>{$va.brief}</span></h4>
							</div>
							<div class="content-info-num3 app-flex app-vertical-center" style="margin-top:.5rem">
								<h4>{$va.clicknum}<if condition="$va['clicknum'] gt '999'">+</if></h4>
								<h5>{$va.colcount}<if condition="$va['colcount'] gt '999'">+</if></h5>
							</div>
						</div>
					</if>
					</a>
				</li>
				</volist>
			</ul>
		</article>
	</section>
	<!--平台公告-->
	<!--<section class="notice-content">
		<div class="title-panel app-flex app-vertical-center app-content-justify">
			<h4>平台公告</h4>
			<h5>
				<a href="{:U('Home/Index/articlelist')}">&gt;</a>
			</h5>
		</div>
		<ul class="notice-list">
			<volist name="article" id="va">
			<li class="notice-item">
				<a href="{$va.link_url}" title="{$va.post_title}">
					<div class="nt-top app-flex app-vertical-center">
						<h4 class="app-basis">{$va.post_title}</h4>
						<h5>{$va.addtime}</h5>
					</div>
					<p>{$va.post_excerpt}</p>
				</a>
			</li>
			</volist>
		</ul>
	</section>-->
	
	<!--应用固定导航-->
	<section class="app-nav app-flex">
		<a class="app-basis active" href="./" data-home>
			<p>首页</p>
		</a>
		<a class="app-basis" href="{:U('Home/Problem/pub')}" data-twen>
			<p>我要提问</p>
		</a>
		<a class="app-basis" href="{:U('Home/Center/index')}" data-centre>
			<p>个人中心</p>
		</a>
	</section>
</body>
<script src="__PUBLIC__/libs/fixed.js"></script>
<script src="__PUBLIC__/libs/weui/jquery-weui.js"></script>
<script>
	//轮播图展示
	var swiper_config = {
			speed:700,
			autoplay:3500,
			pagination:'.swiper-pagination',
			loop:true,
			autoplayDisableOnInteraction : false,

		}
		try{
			var mySwiper = new Swiper('.swiper-container',swiper_config);
		}catch(e){
			console.warn(e);
		}
</script>
</html>